h1 {
    font-family: 'Abril Fatface'; 
    color: olivedrab; 
    background: linear-gradient(to bottom, #006600 0%, #003399 100%);
}
h2, h3 {
    font-family: 'Abril Fatface'; 
    color: midnightblue; 
    Font-size: solid;
    background-color: black;   
    border-style: bold; 
}
#startButton {
    text-align: left;
    font-family: 'Abril Fatface';
    background-color: darkgreen; 
    border: black; 
    margin: 15px;  
    padding: 20px; 
    text-transform: uppercase; 
    font-size: bold;
    font-weight: thick;
    color: midnightblue;
}
nav {
    background-color: black;

}
#timer {
    font-family: 'Abril Fatface'; 
    background-color: red; 
    color: midnightblue;
    margin: 12px; 
    padding: 12px; 
    text-transform: uppercase;
}
#score1 {
    font-family: 'Abril Fatface'; 
    background-color: yellow;
    color: midnightblue;
    margin: 12px;
    padding: 12px; 
    text-transform: uppercase;
}
#score2 {
    font-family: 'Abril Fatface'; 
    background-color: pink;
    color: midnightblue;
    margin: 12px; 
    padding: 12px;  
    text-transform: uppercase;
}
.game-grid { 
    display: grid; 
    padding: auto; 
    margin: auto; 
    background-color: black; 
    grid-template-columns: auto auto auto auto;
}
 .grid-box {
    display: grid; 
    background-color: olivedrab;
    padding: 15px; 
    margin: 5px; 
    background: linear-gradient(to bottom, #006600 0%, #003399 100%);
}  
html {
    margin: auto; 
    border-style: solid;
    border-width: medium;
    border-color: black; 
    background-color: black; 
 
}
section {
    display: grid; 
     /* padding: 20px; 
     margin: 18px; */
    padding: auto;
    margin: auto;
} 
p {
    color: olivedrab; 
    font-family: 'Abril Fatface';
}
.grid-box4 {
    color: olivedrab;
    font-family: 'Abril Fatface'; 
    padding: auto; 
    text-align: center;
};
img {
    display: relative;
};  